AUTH_RESET_PASSWORD_SECRET=AUTH_RESET_PASSWORD_SECRET
AUTH_REGISTER_SECRET=AUTH_REGISTER_SECRET

BASE_APP_URL=http://localhost:3000
BASE_SERVER_URL=http://localhost:8000

bkash_api_key=4f6o0cjiki2rfm34kfdadl1eqq
bkash_create_payment_url=https://tokenized.sandbox.bka.sh/v1.2.0-beta/tokenized/checkout/create
bkash_execute_payment_url=https://tokenized.sandbox.bka.sh/v1.2.0-beta/tokenized/checkout/execute
bkash_grant_token_url=https://tokenized.sandbox.bka.sh/v1.2.0-beta/tokenized/checkout/token/grant
bkash_password=sandboxTokenizedUser02@12345
bkash_refund_transaction_url=https://tokenized.sandbox.bka.sh/v1.2.0-beta/tokenized/checkout/payment/refund
bkash_secret_key=2is7hdktrekvrbljjh44ll3d9l1dtjo4pasmjvs5vl5qr3fug4b
bkash_username=sandboxTokenizedUser02

CLOUDINARY_API_KEY=377665696297484
CLOUDINARY_API_SECRET=IDTt2vlII6Px6JMaLKJSorBTrhI
CLOUDINARY_CLOUD_NAME=djwvxwzwp

DB_HOST=localhost
DB_NAME=emspassportdb2
DB_PASSWORD=root
DB_PORT=3306
DB_USER=root

DEFAULT_MAIL=al.shahareare.9@gmail.com
FRONTEND_BASE_URL=*
MAIL_APP_NAME=node-mailer-code-canvus2
MAIL_PASSWORD=mihi msib vppd fvxz
MAIL_USERNAME=al.shahareare.9@gmail.com
NODE_ENV=local
PORT=8000
TOKEN_SECRET_KEY=test
